<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jie.example.boutique"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:name="jie.example.constant.BoutiqueApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="jie.example.boutique.BoutiqueActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BasicActivity" />
        <activity android:name=".DynamicAddViewActivity" />
        <activity android:name=".CascadeLayoutActivity" />
        <activity
            android:name=".TransparentMenuActivity"
            android:launchMode="singleTask"
            android:theme="@style/TransparentStyleBottom" />
        <activity android:name=".TreeListViewActivity" />
        <activity android:name=".ChineseMapViewActivity" />
        <activity android:name=".HistogramViewActivity" />
    </application>

</manifest>